body {
  background: #ECECEC;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size:17px;
  margin:0;
}

header {
  background:white;
  padding-top:20px;
  text-align:center;

}

h1,h2,h3,h4,h5,h6 {
  font-weight:bold;
}

h1#header{
  font-family:'Orbitron';
/*  background-color:rgb(38, 86, 127); 
*/}

ul.bullets {
  list-style:disc;
  margin-left:20px;
}

ul.inline li {
  border-right: 1px dashed black;
  display: inline;
  margin-right: 10px;
  padding-right: 10px;
}

ul.inline li:last-child {
  border:none;
  margin-right:0;
  padding-right:0;
}

img#logo{
  width:10%;
  height:10%;
}

span.subheader{
  font-size: 14px; 
  font-family: 'Open Sans'; 
}

nav li{
  list-style-type: none; 
}

nav a {
  color:black;
  text-decoration: none; 
  display:inline-block;
  padding-right:20px;
  padding-left: 20px; 
}

nav a:hover {
  color:#B3E6E2;
}

h1 {
  border-top:1px solid #ECECEC;
  font-size:32px;
  margin-top:20px;
  padding:20px;
}

h1 > span {
  color:#636466;
  margin-left:20px;
}

strong {
  font-weight:bold;
}

.container {
  margin:auto;
  width:1024px;
}

.content {
  margin:auto;
  padding:20px;
}

section {
  margin-bottom:20px;
  position:relative;
}

section:last-child {
  margin-bottom:0;
}

section > h2 {
  background: white;
  color: #636466;
  font-size:24px;
  padding: 15px;
  -webkit-transition: all 500ms cubic-bezier(0.150, 0.875, 0.370, 0.990);
   -moz-transition: all 500ms cubic-bezier(0.150, 0.875, 0.370, 0.990);
     -o-transition: all 500ms cubic-bezier(0.150, 0.875, 0.370, 0.990);
        transition: all 500ms cubic-bezier(0.150, 0.875, 0.370, 0.990);
}

section > h2 > .note{
  font-size:.75em;
}

section > h2 > strong {
  color: black;
  margin: 0 15px;
}

section a {
  color:black;
}

section a:hover {
  color:yellow;
}


section.toggleable > h2{
  cursor:pointer;
}

section.closed .section-content {
  max-height:0;
  padding-top:0;
  padding-bottom:0;
}

.section-content {
  background: rgb(166, 116, 47);
  color: black;
  padding:15px;
  overflow:hidden;
  max-height:1000px;
  -webkit-transition: all 500ms cubic-bezier(0.150, 0.875, 0.370, 0.990);
   -moz-transition: all 500ms cubic-bezier(0.150, 0.875, 0.370, 0.990);
     -o-transition: all 500ms cubic-bezier(0.150, 0.875, 0.370, 0.990);
        transition: all 500ms cubic-bezier(0.150, 0.875, 0.370, 0.990);
}

.section-content h3 {
  margin-bottom:10px;
}

.section-content ul {
  border-bottom:1px solid #364D19;
  margin-bottom:15px;
  padding-bottom:15px;
}

.section-content ul:last-child {
  border-bottom:none;
  margin-bottom:0;
  padding-bottom:0;
}

.section-content ul li{
  margin-bottom:10px;
}

.section-content ul li:last-child{
  margin-bottom:0;
}

td {
  border:1px solid #364D19;
}

th {
  border-top: 1px solid #364D19;
}

th:first-child {
  border-left:1px solid #364D19;
}

th:last-child {
  border-right:1px solid #364D19;
}

th,td {
  padding:10px;
}

.nowrap {
  white-space: nowrap;
}

.fa-asterisk{
  float:right;
  color:rgb(166, 116, 47);
}

@media(max-width: 1064px){
  .container {
    width:100%;
  }

  h1 > span {
    margin-left:0;
    margin-top:10px;
    display:block;
  }
}

@media(max-width: 480px){
  .content {
    padding:10px;
  }

  section > h2 {
    font-size:16px;
  }

  section > h2 > strong {
    float:right;
  }

  section > h2 > small {
    display:block;
    margin-top:10px;
  }

  section > h2 > .note {
    display:inline;
  }

  ul.inline li {
    border-right:none;
    border-bottom: 1px dashed black;
    display:block;
    padding-bottom:10px;
  }

  ul.inline li:last-child {
    padding-bottom:0;
  }

  section:after {
    border-bottom:10px solid #ECECEC;
    border-left:10px solid #E4B526;
    border-right:10px solid #ECECEC;
    border-top:10px solid #E4B526;
  }

  th,td {
    padding:5px;
  }

  .desktop-only {
    display:none;
  }

  .nowrap {
    white-space: normal;
  }

}
